
body {
    background-color:rgba(41, 39, 39, 0.932) ; 
}

.container {
    background-color:rgba(41, 39, 39, 0.932)
}
/* seccion 1 Home  */

#Home {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}


.tituloPrincipal {
    margin-left: 40px;
    margin-top: 130px;
    
    color: white;
}

h1 {
    font-size: 3rem;
    
}

p {
    font-size: 1rem;
    line-height: 20px;
}

span {
    color: aqua;
}

.CV {
    list-style: none;
}

#imagenPortafolio {
    width: 500px;
    height: 500px;
}
/* Fin section 1 home */
/* section 2 sobre Mi */

.img {
    border-radius: 50%;
}
.custom-section{
    background-color: white;
    padding: 50px;
}

h3 {
    font-size: 3rem;
    border-bottom: 5px solid aqua;
}

.p {
    font-family: 'Montserrat', sans-serif;
    font-size:  1.2rem;
    line-height: 33px;
    margin: 10px;
    padding: 10px;
    text-align:start;
    
}
/* Fin section 2 sobre mi */
/* section 3 Mis Skills */
.HABILIDADES {
    height: 100%;
    padding: 20px;
    
}


.Titulos {
    background-color: #212529;
    padding-left: 10px;
    margin: 10px;
    width: 98%;
    height: 80px;
    color: aqua;
}

.Titulos > h2 {
    
    font-size: 40px;
}


.divider {
    width: 100px;
    height: 4px;
    background-color: white;
}

.fab {
    font-size: 180px;
}

.fas {
    font-size: 180px;
    margin-bottom: 5px;
}


.etp {
    color: white;
}


.fa-html5 {
    color: rgba(255, 68, 0, 0.76);
    
}

.fa-css3 {
    color: rgb(0, 153, 255);
}


.fa-bootstrap {
    color: rgba(129, 35, 218, 0.842);
    
}


.fa-js {
    color: rgba(255, 208, 0, 0.904);
    
}

.fa-react {
    color: aqua;
}


.fa-git-alt {
    color: rgba(248, 96, 41, 0.849);
    
}


.fa-github {
    color: white;
}


.fa-database {
    color: rgba(240, 255, 241, 0.79);
}

.fa-node {
    color: rgb(74, 239, 74);
}
/* Fin section 3 Mis skills */

/* section 5 contactos  */

.Contacto {
height: 100%;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 10px;
    border-bottom: 5px solid aqua;
    color: white;
    margin: 20px;
    text-align: center;
}

.form-group {
    margin: 20px;
}

.fa-github-square {
    font-size: 70px;
    color:white;
    margin: 10px;
}
.fa-linkedin {
    font-size: 70px;
    color:rgba(0, 119, 255, 0.938);
    margin: 10px;
}
.fa-instagram{
    font-size: 70px;
    color:rgb(243, 13, 147);
    margin: 10px;
}

/* fin seccion contacto */

/* FOOTER */
footer {
    background: #212529;
    padding: 15px;
}

footer p {
    color: white;
    font-size: 20px;
}

/* FIN SECCION FOOTER  */



